<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ErrorsNotificationService" connectionString="Server=localhost;Initial Catalog=ErrorsService;User ID=legge6;Password=lmadm1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ErrorsQueueName" value=".\private$\farm_errors" />
    <add key="PoisonErrorsQueueName" value=".\private$\farm_posionerrors" />
    <add key="DBconnection" value="ErrorsNotificationService" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" includeWindowsGroups="false" />
            </clientCertificate>
            <windowsAuthentication allowAnonymousLogons="true" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="lm.ErrorsNotification.Service.ErrorsNotificationService">
        <endpoint address="net.msmq://localhost/private/farm_errors" binding="netMsmqBinding" bindingConfiguration="ErrorsNotificationNetMsmqBinding" contract="lm.ErrorsNotification.DataContract.Service.iErrorsNotificationService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9779/ErrorsNotification/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="ErrorsNotificationNetMsmqBinding" deadLetterQueue="Custom">
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>