<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

  </connectionStrings>
  <appSettings>
    <add key="ErrorsQueueName" value=".\private$\lm_centralNotificationsCollector" />
    <add key="PoisonErrorsQueueName" value=".\private$\lm_centralNotificationsCollectorErrors" />
    <add key="ServicePath" value="E:\inetpub\ProgettiWeb\LM_ComolElle3\main_ToRepNew\Services\Notifications\lm.Comol.Core.Msmq.Services.Notifications.ConsoleHost\bin\Debug\" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" includeWindowsGroups="false" />
            </clientCertificate>
            <windowsAuthentication allowAnonymousLogons="true" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="lm.Comol.Core.Msmq.Services.Notifications.Service.NotificationsService">
        <endpoint address="net.msmq://localhost/private/lm_centralNotificationsCollector" binding="netMsmqBinding" bindingConfiguration="NotificationsServiceNetMsmqBinding" contract="lm.Comol.Core.Notification.DataContract.iNotificationsManagerService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9698/ServiceNotifications/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="NotificationsServiceNetMsmqBinding" deadLetterQueue="Custom">
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="NetMsmqBinding_iServiceMailSender">
          <security mode="None" />
        </binding>
        <binding name="test">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/lm_mail" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_iServiceMailSender" contract="SrvMailSender.iServiceMailSender" name="NetMsmqBinding_iServiceMailSender" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
     
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.2.729.40" newVersion="2015.2.729.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SpreadsheetLight" publicKeyToken="32fbb46dc1730c57" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.4.0" newVersion="3.4.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>