<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No permissions</title>
</head>
<body>
    <div>
        No permissions
        <div style="display:none;">
            @RenderBody()
        </div>
    </div>
</body>
</html>
