<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="net.msmq://localhost/private/lm_fileunzip"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IUnzipMQService"
                contract="ServiceReferenceUnzip.IUnzipMQService" name="NetMsmqBinding_IUnzipMQService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="FileTransfer.Core.FileMQService">
                <endpoint address="net.msmq://localhost/private/lm_filetransfer"
                  binding="netMsmqBinding" bindingConfiguration="MyBinding"
                  contract="FileTransfer.Core.IFileMQService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/Design_Time_Addresses/FileTransfer.Core/FileMQService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      <bindings>
        <netMsmqBinding>
          <binding name="MyBinding">
            <security mode="None" />
          </binding>
          <binding name="NetMsmqBinding_IUnzipMQService">
            <security mode="None" />
          </binding>
        </netMsmqBinding>
      </bindings>
    </system.serviceModel>
</configuration>
