<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="e:\FileTransfer.WinService.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="e:\FileTransfer.WinService.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing propagateActivity="true" activityTracing="true"
        messageFlowTracing="true" />
    </diagnostics>
    <client>
      <endpoint address="net.msmq://#IP_SCORM_SERVER#/private/lm_fileunzip"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IUnzipMQService"
        contract="ServiceReferenceUnzip.IUnzipMQService" name="NetMsmqBinding_IUnzipMQService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://#IP_SCORM_SERVER#:9999/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IFileTransferService" contract="ServiceReference1.IFileTransferService"
        name="NetTcpBinding_IFileTransferService" />
    </client>
    <services>
      <service name="FileTransfer.Core.FileMQService">
        <endpoint address="net.msmq://localhost/private/lm_filetransfer"
          binding="netMsmqBinding" bindingConfiguration="MyBinding" contract="FileTransfer.Core.IFileMQService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8081/Design_Time_Addresses/FileTransfer.Core/FileMQService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>      
      <serviceBehaviors>        
        <behavior>
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="MyBinding" maxReceivedMessageSize="6553600000">
          <security mode="None" />
        </binding>
        <binding name="NetMsmqBinding_IUnzipMQService" maxReceivedMessageSize="6553600000">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IFileTransferService" sendTimeout="00:40:00"
          transferMode="Streamed" maxBufferPoolSize="5242880000" maxBufferSize="65536000"
          maxConnections="10" maxReceivedMessageSize="60710886400">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>