<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ActionsQueueName" value=".\private$\lm_Actions"/>
    <add key="PoisonActionsQueueName" value=".\private$\lm_PoisonActions"/>
    <add key="connectionString" value="Data Source=#IP_SCORM_SERVER#;Initial Catalog=COMOL_UserAction;User ID=legge6;Password=lmadm1"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" includeWindowsGroups="false"/>
            </clientCertificate>
            <windowsAuthentication allowAnonymousLogons="true"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="lm.ActionPersistence.ActionService">
        <endpoint address="net.msmq://localhost/private/lm_Actions" binding="netMsmqBinding" bindingConfiguration="ActionsNetMsmqBinding" contract="lm.ActionDataContract.iActionService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9200/Actions/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="ActionsNetMsmqBinding" deadLetterQueue="Custom">
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
