<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CommunityServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9450/CommunityServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="CommunityServicesSoap"
                contract="SRVcoreCommunityService.CommunityServicesSoap" name="CommunityServicesSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
