<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_iNotificationsManagerService">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/lm_centralNotificationsCollector"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_iNotificationsManagerService"
                contract="SrvNotifications.iNotificationsManagerService" name="NetMsmqBinding_iNotificationsManagerService" />
        </client>
    </system.serviceModel>
</configuration>