<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

  </connectionStrings>
  <appSettings>
    <add key="ErrorsQueueName" value=".\private$\lm_mail"/>
    <add key="PoisonErrorsQueueName" value=".\private$\lm_mailsendererror"/>
    <!--<add key="DBconnection" value="ErrorsNotificationService"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
   <add key="ServicePath" value="E:\WinService\Mail\"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" includeWindowsGroups="false"/>
            </clientCertificate>
            <windowsAuthentication allowAnonymousLogons="true"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="lm.Comol.Core.Msmq.Services.Mail.Service.ServiceMailSender">
        <endpoint address="net.msmq://localhost/private/lm_mail" binding="netMsmqBinding" bindingConfiguration="MailServiceNetMsmqBinding" contract="lm.Comol.Core.Msmq.Services.Mail.DataContract.Service.iServiceMailSender">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9699/ServiceMailSender/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="MailServiceNetMsmqBinding" deadLetterQueue="Custom" >
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
 <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
<!--<binding name="NetMsmqBinding_iNotificationService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536"
          maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5"
          retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false"
          useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288"
          useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream"
              msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="Windows" algorithmSuite="Default" />
          </security>
        </binding>-->